<%- include('./layout/Header') %> <%- include('./layout/Navbar') %>

<section class="container">
  <div class="card large_card">
    <div class="fail-text">
      <h1 class="home__title color-blue"><%= err %></h1>
      <p>So sorry about that.</p>
    </div>
  </div>
</section>
<%- include('./layout/Footer') %>
